#timer {
    font-size: 2em;
    color: black;
    background-color: white;
    border-radius: 4px;
  }

img {
    width:100%;
    height:100%;
    visibility: visible;
    z-index: -3;
    top: 0%;
}

#timerContainer {
    position: absolute;
    display: none;
    text-align: center;
  }